.app-user{
    width: 80%;
    height: 5%;
    min-height: 25px;
    background-color: chocolate;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}