.app-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    font-family: 'Roboto';
    
    &__main {
        width: 80%;
        flex: 1;
    }
    
}
